.books {
  flex-wrap: wrap;

  .book {
    flex: 1 0 30%;
    // border: 1px solid #cecece;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;

    .title {
      font-weight: 300;
    }

    img {
      width: 150px;
      border-radius: 8px;
    }
  }
}
