.container { max-width: 110rem; }

.sidebar .heading {
  h1, h2 { margin: 1rem 0; }
  h2 { 
    font-size: 12pt; 
    font-weight: lighter;
    font-style: italic;
    color: #464646;
    line-height: 13pt;
  }
}