<article class="post">
  <h3 class="title">
    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  </h3>

  <div class="metadata text-right">
    <span class="timestamp"
      >{{ .PublishDate.Format "Mon, January 2, 2006" }}</span
    >

    <!-- <div>
      <span class="word-count"><b>{{ .WordCount }}</b> Total Words</span> | 
      <span class="time-to-read">{{ .ReadingTime }} minute read</span>
    </div> -->
  </div>

  <div class="summary">{{ .Summary }}</div>

  {{ if .Truncated }}
  <!-- This <div> includes a read more link, but only if the summary is truncated... -->
  <div class="read-more text-right">
    <a href="{{ .RelPermalink }}">Read More</a>
  </div>
  {{ end }}
</article>
